<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Your Show</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/edit_shows_styles.css' %}">
    <script src="{% static 'js/edit_shows_script.js' %}"></script>
</head>
<body>
    <div id="container">
        <a class="button1" href="/shows">Go Back</a>
        <h1>Edit your show here</h1>

        <form action="/register" method=POST>
            {% csrf_token %}
            <p class="p1">Title: <input class="title" type="text" name="title"></p>
            <p class="p2">Network: <input class="net" type="text" name="net">
            Release: <input class="release" type="date" name="release">
            </p>
            <p class="p3">Description: <input class="desc" type="text" name="desc"></p>
            <input class="button" type="submit" value="Update">

        </form>

        <a class="link2" href="new_shows.html">Go to Show</a>
    </div>
</body>
</html>